<div class="impact-stat">
    <h1 class="stat-number f-heading text-blue-primary"><span>{{ number }}</span>{{ percent_sign }}</h3>
    <p class="stat-description text-med-grey">{{ description }}</p>
    <div class="stat-social">
      <a href="https://twitter.com/share?url={{ base_url }}{{ url }}&text={{ twitter_stat }}" class="icon-twitter" target="_blank"></a>
      <a href="http://www.facebook.com/sharer.php?u={{ base_url }}{{ url }}&quote={{ full_stat }}" class="icon-facebook" target="_blank"></a>
    </div>
</div>